
@{
    ViewBag.Title = "FunctionCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>FunctionCreate</h3>

<div class="form-inline form-group">
    <label for="inputPassword6">Password</label>
    <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
    <small id="passwordHelpInline" class="text-muted">
        Must be 8-20 characters long.
    </small>
</div>